body {
    margin: 0;
    padding: 60px 112px 0;
    font-size: 18px;
    height: 100vh;
    
    
}

.App{
    text-align: center;
}

/* ----Typography---Start---- */




/* ----Typography---End---- */



/* ====================
Profile_Sectiion_Start
=======================*/


/* #profile__img{
    border-radius: 50%;
    width: 88px;
    
} */


#header_profile {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;

}


#sub_headeer{
    max-width: 88px;
    height: 88px;
}

.image {
    border-radius: 50%;
  display: block;
  width: 88px;
  height: 88px;
  
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  width: 88px;
  margin : 0 auto;
  opacity: 0;
  transition: .3s ease;
  border-radius: 50%;

  background-color: rgb(136, 98, 98);
}

#header_profile:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


#avatar_placeholder{
    color: transparent;
    position: relative;
    height: 42px;
    width: 42px;
    margin : 0 auto;


}



/* ====================
Profile_Sectiion_End
=======================*/



/* ====================
main_Sectiion_Start
=======================*/



ul{
    padding: 0 32px;
}

li {
    border: 2px solid;
    border-radius: 8px;
    
    padding: 20px;
    margin-bottom: 15px;

    list-style-type: none;
    cursor: pointer;
    
}


.sm_section{
    
    display: flex;
    
    justify-content: center;
    padding: 24px 0;
    margin-bottom: 42px;
}

#slack_logo
{
    width:24px;
    margin-right: 24px;
    margin-left: -24px;
}

a{
    text-decoration: none;
    
}



a.tooltip {
    border-bottom: 1px dashed;
    text-decoration: none;
  }
  a.tooltip:hover {
    cursor: help;
    position: relative;
  }
  a.tooltip span {
    display: none;
  }
  a.tooltip:hover span {
    border: #666 2px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 80px;
    background: #e3e3e3;
    left: 100px;
    margin: 15px;
    width: 300px;
    position: absolute;
    top: 15px;
    text-decoration: none;
  }





/* ====================
main_Sectiion_End
=======================*/


/* ====================
footer_Sectiion_Start
=======================*/

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 96px;
    margin-bottom: 0;
    align-items: center;
}

#footer_zuri-logo{
    width: 180px;
    height: 30px;
}

#footer_hng{
    width:832px;
    height:24px;

}

#footer_ingressive{
    width:132px;
    height:32px;

}





/* ====================
footer_Sectiion_End
=======================*/




.container{
    position: absolute;
    top: 10%;
    left: 23%;
    width: 50%;
    }
    
    .text{
    display: inline;
    width: 100%;
    }
    
    .read-or-hide{
    color: rgb(192,192,192);
    cursor: pointer;
    }

    #box{
    border: 2px solid red;
    }
    

